.container {
	max-width: 1000px;
	padding: 20px;
	margin: 0 auto;
}

.spot-title {
	font-size: 2rem;
	font-weight: bold;
}

.spot-location {
	font-size: 1.2rem;
}

.image-grid {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	height: 300px;
}

.image-grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid .image1 {
	grid-column: 1/2;
	grid-row: 1/3;
}

.details-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.host-title {
	margin: 0;
}
.host-section p {
	font-size: 1rem;
}
.pricing-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border: 2px solid;
	border-radius: 8px;
	width: 30%;
}
.pricing-top {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.price {
	display: flex;
	font-weight: bold;
	align-items: center;
}
.price-number {
	font-size: 24px;
}
.night {
	margin-top: 5px;
}
.reserve {
	margin-top: 5px;
	margin-bottom: 5px;
}

button.reserve {
	padding: 10px 20px;
	cursor: pointer;
	width: 80%;
}

.details-line {
	border: none;
	border-top: 2px solid #000000;
}
