.review-info {
	margin-top: 10px;
}

.review-author-name {
	font-weight: bold;
	margin-bottom: 2px;
}
.review-date {
	font-size: 14px;
	color: #808080;
}
p {
	margin-top: 5px;
	font-size: 14px;
}
