/* TODO: Add sitewide styles */

button {
	background-color: #ff5a5f;
	border: 2px solid #000000;
	box-shadow: 2px 2px #000000;
	cursor: pointer;
	color: #ffffff;
}

button:hover {
	background-color: #b22222;
}
